.contact-container {
    max-width: 30%;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px 50px;
    border-radius: 2px;
    box-shadow: $box-shadow;
    form {
        display: flex;
        flex-direction: column;
        .contact-name, .contact-subject {
            display: flex;
            flex-direction: column;
            padding: 10px;
            label {
                font-size: 16px;
            }
            input {
                margin-top: 10px;
                max-width: 350px;
                height: 30px;
                border: 1px solid lightgray;
                padding: 8px 15px;
                outline: none;
                border-radius: 2px;
                overflow: hidden;
                &:hover {
                    border: 1px solid lightblue;
                    transition-duration: 0.3s;
                }
            }
        }
        textarea {
            margin-top: 20px;
            margin-left: 10px;
            border: 1px solid lightgray;
            padding: 15px;
            width: 500px;
            height: 150px;
            resize: none;
            max-width: 700px;
            outline: none;
            &:hover {
                border: 1px solid lightblue;
                transition-duration: 0.3s;
            }
        }    
        button {
            margin-top: 20px;
            margin-left: 10px;
            margin-bottom: 20px;
            font-size: 16px;
            border: 1px solid $primary-color;
            border-radius: 2px;
            width: 160px;
            cursor: pointer;
            padding: 10px;
            background-color: #fff;
            &:hover {
                letter-spacing: 3px;
                background-color: $primary-color;
                transition-duration: 0.3s;
            }
        }
    }
}

