.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* cambiar por mediaquery */
  background-image: url("https://images.unsplash.com/photo-1435575653489-b0873ec954e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  /* JOBSEEKER AND EMPLOYEE COMPONENTS */
  /* HOW IT WORKS */
}

.home-container button {
  background-color: #bee5ff;
  color: #000;
  border-radius: 1px;
  border: 1px solid #3282b8;
  padding: 8px;
  margin-top: 40px;
  margin-left: 50px;
  width: 70%;
  font-size: 16px;
  cursor: pointer;
}

.home-container button:hover {
  -webkit-box-shadow: inset 0px 0px 0px 1px #3282b8;
  box-shadow: inset 0px 0px 0px 1px #51a2d8;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.home-container .jobseeker-container, .home-container .employee-container {
  margin: 80px auto;
  padding: 30px;
  width: 360px;
  height: 400px;
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
  border-radius: 2px;
}

.home-container .jobseeker-container img, .home-container .employee-container img {
  width: 100px;
  margin: 20px auto;
  display: block;
}

.home-container .jobseeker-container p, .home-container .employee-container p {
  margin-top: 35px;
  font-size: 16px;
  text-align: center;
}

.home-container .jobseeker-container .jobseeker-select, .home-container .employee-container .jobseeker-select {
  position: relative;
  margin: auto;
}

.home-container .jobseeker-container .jobseeker-select select, .home-container .employee-container .jobseeker-select select {
  background-color: #fff;
  width: 250px;
  padding: 5px;
  margin-left: 50px;
  margin-top: 20px;
}

.home-container .jobseeker-container .jobseeker-select select option, .home-container .employee-container .jobseeker-select select option {
  padding: 8px;
  border: 1px solid #3282b8;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.home-container .how-it-works-section {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin: auto;
  background-color: #000;
  padding-bottom: 60px;
}

.home-container .how-it-works-section .how-it-works-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.home-container .how-it-works-section .how-it-works-icons img {
  max-width: 50px;
}

.home-container .how-it-works-section .how-it-works-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.home-container .how-it-works-section .how-it-works-text p {
  font-size: 16px;
  padding: 10px;
}
/*# sourceMappingURL=home.css.map */