.home-container {
  display: flex;
  justify-content: space-around;
  background-image: url('https://images.unsplash.com/photo-1542822038-3a1810a5fb69?ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  .jobseeker-container, .employee-container {
    box-shadow: 0 5px 25px rgba(0,0,0,0.5);
    margin: 80px auto;
    padding: 30px;
    width: 380px;
    height: 450px;
    background-color: rgba(15,76,117,0.9);
    border: none;
    img {
      width: 80px;
      margin: 20px auto;
      display: block;
    }
    p {
      line-height: 25px;
      margin-top: 40px;
      text-align: center;
      color: #fff;
    }
    .MuiFormLabel-root {
      color: #fff;
    }
    .MuiInputBase-root {
      color: #fff;
    }
    #jobseeker-btn {
      background-color: #fff;
      color: #000;
      border: 1px solid #fff;
      font-size: 16px;
      padding: 8px;
      margin-top: 25px;
      width: 100%;
      height: 40px;
      cursor: pointer;
    }
    #employee-btn {
      background-color: #fff;
      color: #000;
      border: 1px solid #fff;
      font-size: 16px;
      padding: 8px;
      margin-top: 170px;
      width: 100%;
      height: 40px;
      cursor: pointer;
    }
  }
} 

.how-it-works-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  padding-bottom: 60px;
  #bizzlock-title-home {
    color: $secondary-color;
  }
  .how-it-works-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    img {
      max-width: 50px;
    }
  }
  .how-it-works-text {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 60px;
    p {
      font-size: 16px;
      padding: 10px;
    }
  }
}