.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* cambiar por mediaquery */
  background-image: url("https://images.unsplash.com/photo-1542822038-3a1810a5fb69?ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  /* JOBSEEKER AND EMPLOYEE COMPONENTS */
}

.home-container .jobseeker-container, .home-container .employee-container {
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  margin: 80px auto;
  padding: 30px;
  width: 360px;
  height: 400px;
  background-color: rgba(15, 76, 117, 0.9);
  color: #000;
  border: none;
}

.home-container .jobseeker-container img, .home-container .employee-container img {
  width: 80px;
  margin: 20px auto;
  display: block;
}

.home-container .jobseeker-container p, .home-container .employee-container p {
  margin-top: 40px;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.home-container .jobseeker-container button, .home-container .employee-container button {
  background-color: #fff;
  color: #000;
  border-radius: 1px;
  border-radius: 2px;
  border: none;
  padding: 8px;
  margin-left: 50px;
  width: 70%;
  font-size: 16px;
  opacity: 0.8;
  cursor: pointer;
}

.home-container .jobseeker-container button:hover, .home-container .employee-container button:hover {
  -webkit-box-shadow: inset 0px 0px 0px 1px #3282b8;
  box-shadow: inset 0px 0px 0px 1px #51a2d8;
  opacity: 1;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.home-container .jobseeker-container #employee-btn, .home-container .employee-container #employee-btn {
  margin-top: 150px;
}

.home-container .jobseeker-container .jobseeker-select, .home-container .employee-container .jobseeker-select {
  position: relative;
  margin: auto;
}

.home-container .jobseeker-container .jobseeker-select select, .home-container .employee-container .jobseeker-select select {
  background-color: #fff;
  border-radius: 2px;
  border: none;
  width: 250px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  margin-left: 50px;
  margin-top: 20px;
}

/* HOW IT WORKS */
.how-it-works-section {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin: auto;
  padding-bottom: 60px;
}

.how-it-works-section .how-it-works-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.how-it-works-section .how-it-works-icons img {
  max-width: 50px;
}

.how-it-works-section .how-it-works-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.how-it-works-section .how-it-works-text p {
  font-size: 16px;
  padding: 10px;
}
/*# sourceMappingURL=home.css.map */