.comment-textarea {
  padding: 15px 20px;
  font-size: 14px;
  width: 800px;
  height: 100px;
  font-family: 'Lato', sans-serif;
  border: 1px solid lightgray;
  outline: none;
  resize: none;
  overflow: auto;
}
