#signup-container {
  width: 100%;
  margin: 130px auto;
  .form-box {
    border-radius: 5px;
    padding: 20px;
    form {
      display: flex;
      flex-direction: column;
      box-shadow: 0 5px 25px rgba(0,0,0,0.5);
      border: 1px solid lightgray;
      border-radius: 5px;
      width: 400px;
      height: fit-content;
      padding: 20px;
      h3 {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
      }
      input {
        margin-left: 45px;
        padding: 15px;
        border-radius: 2px;
        border: 1px solid lightgray;
        outline: none;
        width: 320px;
        &:focus {
          border: 1px solid #bbe1fa;
        }
      }
      .new-registry-text {
        text-align: center;
        margin-top: 10px;
        text-decoration: underline;
        color: $secondary-color;
        cursor: pointer;
        p {
          font-size: 14px;
        }
      }
      .privacy-check {
        margin-left: 40px;
        #check-privacy {
          width: 25px;
          margin: 30px auto;
          cursor: pointer;
        }
        label {
          font-size: 13px;
        }
      }
      .MuiPaper-root {
        margin-left: 5px;
        margin-bottom: 20px;
        width: 285px;
        padding: 5px 15px;
        font-size: 14px;
      }
      #signup-btn {
        background-color: #3282b8;
        border-radius: 3px;
        color: #fff;
        font-size: 16px;
        margin-bottom: 20px;
        cursor: pointer;
        &:hover {
          background-color: #51a2d8;
          transition-duration: 0.3s;
        }
      }
      .company-results {
        margin-left: 45px;
        max-width: 318px;
        height: fit-content;
        border: 1px solid $primary-color;
        li {
          font-size: 14px;
          background-color: #fff;
          cursor: pointer;
          max-width: 298px;
          margin-top: -1px;
          &:hover {
            background-color: $primary-color;
            transition: 0.3s;
          }
        }
      }
    }
  } 
}
