.update-container {
  h2 {
    padding-top: 40px;
    text-align: center;
    span {
      text-transform: capitalize;
    }
  }
  .text-above {
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
  }
  .create-form {
    padding: 10px 50px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid lightgray;
    width: 50%;
    margin: auto;
    label {
      font-size: 16px;
    }
    .company-feedback {
      margin-top: 40px;
      margin-left: 30px;
      .star-rating-container {
        display: flex;
        justify-content: end;  
        padding: 5px;
        .star-rating {
          fieldset {
            margin-top: -12px;
            label {
              width: 18px;
              font-size: 26px;
              padding-right: 15px;
            }
          }
        }
      }
    }
    .comments-label {
      margin-top: 20px;
      margin-left: 35px;
      display: inline-block;
    }
    .comments-area {
      margin: 20px 20px -30px 20px;
      border-radius: 3px;
      width: 850px;
      height: 150px;
      padding: 10px;
    }
    .submit-btn {
      margin: 0px;
      #create-btn {
        margin-left: 30px;
        width: 150px;
        padding: 8px;
        background-color: rgb(173, 235, 173);
        border: 1px solid rgb(173, 235, 173);
        font-size: 16px;
        cursor: pointer;
        &:hover {
          border: 1px solid rgb(152, 214, 152);
          transition-duration: 0.3s;
        }
      }
      button {
        padding: 10px;
        border: 1px solid #fff;
        width: 120px;
        background-color: #f5f5f5;
        margin-left: 20px;
        font-size: 16px;
        cursor: pointer;
        &:hover {
          border: 1px solid lightgray;
          transition-duration: 0.3s;
        }
      }
    }
  }
}