.create-company-form {
  background-color: #f5f5f5;
  height: 100%;
  padding-bottom: 80px;
  h2 {
    padding-top: 50px;
    text-align: center;
    span {
      text-transform: capitalize;
    }
  }
  label {
    font-size: 16px;
  }
  .text-above {
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
  }
  form {
    padding: 50px;
    margin-top: 50px;
    background-color: #fff;
    width: 60%;
    box-shadow: 0 5px 25px rgba(0,0,0,0.5);
    .company-cover {
      display: flex; 
      justify-content: space-between;
      margin-bottom: 50px;
      .top-description-photo {
        flex: 1;
        img {
          max-width: 300px;
        }
        .company-description {
          flex: 4;
          font-size: 14px;
          margin-left: 40px;
          padding: 5px;
          line-height: 25px;
        }
      }
    }
    .company-information {
      .top-information {
        display: flex;
        justify-content: space-around;
        .MuiInputBase-root {
          width: 400px;
        }
        .top-location {
          display: flex;
          flex-direction: column;
        .top-industry {
          display: flex;
          flex-direction: column;
        }
        }
      }
      .information-selects {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        padding: 10px;
      }
      .website-box {
        #website-input {
          padding: 5px 20px;
          margin-top: 15px;
          margin-left: 10px;
          width: 290px;
          border-radius: 5px;
          height: 45px;
          border: 1px solid lightgray;
          font-size: 20px;
        }
      } 
    }
    .perks-flex {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      p {
        display: inline-block;
        margin-left: 20px;
      }
      .perks-check {
        cursor: pointer;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        box-shadow: inset 0px 1px 1px white, 0px 1px px;
        opacity: 0.5;
        &:checked {
          opacity: 1;
        }
      }
    }
    hr {
      line-height: 1em;
      position: relative;
      outline: 0;
      border: 0;
      color: black;
      text-align: center;
      height: 1.5em;
      opacity: .5;
      margin-bottom: 40px;
      &:before {
      content: '';
      background: linear-gradient(to right, transparent, #b13636, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
      }
      &:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: black;
        padding: 0 .5em;
        line-height: 1.5em;
        color: #818078;
        background-color: #fcfcfa;
      }
    }
    .company-feedback {
      .star-rating-container {
        display: flex;
        margin-left: 40px;
        .star-label {
          margin-right: 10px;
          font-size: 16px;
        }
        .star-rating {
          height: 40px;
          fieldset {
            padding: 10px;
            margin-top: -15px;
            font-size: 20px;
            .MuiRating-label {
              font-size: 26px;
              margin-right: 5px;
            }
          }
        }
      }
    }
    .comments-label {
      margin-left: 30px;
      margin-top: 50px;
      display: inline-block;
    }
    .comments-area {
      margin-top: 10px;
      margin-left: 20px;
      border-radius: 3px;
      padding: 12px;
    }
    .submit-btns {
      .privacy-check {
        padding: 10px;
        margin-left: 20px;
        input {
          width: 15px;
          height: 15px;
          margin-right: 10px;
          vertical-align: middle;
        }
        label {         
          font-size: 14px;
        }
      }
      #create-btn {
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 150px;
        padding: 8px;
        background-color: rgb(173, 235, 173);
        border: 1px solid rgb(173, 235, 173);
        font-size: 16px;
        cursor: pointer;
        &:hover {
          border: 1px solid rgb(152, 214, 152);
          transition-duration: 0.3s;
        }
      }
      button {
        padding: 10px;
        border: 1px solid #fff;
        width: 120px;
        background-color: #f5f5f5;
        margin-left: 20px;
        font-size: 16px;
        cursor: pointer;
        &:hover {
          border: 1px solid lightgray;
          transition-duration: 0.3s;
        }
      }
      .MuiAlert-outlinedSucess {
        width: 83%;
        margin-top: 10%;
        margin-left: 30px;
      }
    }
  }
}