.create-company-form {
  width: 90%;
  height: 90%;
  padding: 30px;
  margin: auto;
  background-color: #fff;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px px;
          box-shadow: inset 0px 1px 1px white, 0px 1px px;
}

.create-company-form h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.create-company-form .text-above {
  text-align: center;
  font-size: 16px;
  margin-bottom: 50px;
  line-height: 18px;
}

.create-company-form img {
  width: 100px;
  height: 100px;
}

.create-company-form .create-form {
  padding: 30px 50px;
  border: 1px solid lightgray;
  width: 70%;
  margin: auto;
}

.create-company-form .create-form hr {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(131, 131, 131, 0)), color-stop(rgba(141, 141, 141, 0.75)), to(rgba(110, 110, 110, 0)));
  background-image: linear-gradient(to right, rgba(131, 131, 131, 0), rgba(141, 141, 141, 0.75), rgba(110, 110, 110, 0));
}

.create-company-form .create-form .information-selects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 40px;
  margin: 10px;
}

.create-company-form .create-form select {
  background-color: #fff;
  padding: 5px;
  display: block;
  width: 320px;
  outline: none;
  margin-top: 30px;
  margin-bottom: 20px;
}

.create-company-form .create-form .company-feedback {
  padding: 10px 40px;
}

.create-company-form .create-form .perks-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.create-company-form .create-form .perks-flex p {
  display: inline-block;
  margin-left: 5px;
}

.create-company-form .create-form .perks-flex .perks-check {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #fff;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px px;
          box-shadow: inset 0px 1px 1px white, 0px 1px px;
  opacity: 0.5;
}

.create-company-form .create-form .perks-flex .perks-check:checked {
  opacity: 1;
}

.create-company-form .create-form .comments-area {
  margin-top: 50px;
  border: 1px solid lightgray;
  background-color: #f3f3f3;
  padding: 30px;
}

.create-company-form .create-form .comments-area textarea {
  border: 1px solid lightgray;
}

.create-company-form .create-form .comments-area .submit-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  margin-left: 320px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.create-company-form .create-form .comments-area .submit-btns #create-btn {
  width: 30px;
  margin-left: 30px;
  background-color: #fff;
  border: 1px solid #adebad;
  font-size: 16px;
  cursor: pointer;
}

.create-company-form .create-form .comments-area .submit-btns button {
  width: 30px;
  margin-left: 30px;
  background-color: #fff;
  border: 1px solid #ff7979;
  font-size: 16px;
  cursor: pointer;
}
/*# sourceMappingURL=createcompany.css.map */