body {
  box-sizing: border-box;
  background-color: #fff;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

html, body, #app, #app > div {
  height: 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h5 {
  color: #28cc9e;
}

/* HEADER */

header {
  width: 100%;
  height: fit-content;
  background-color: #000;
}

.logo {
  width: 130px;
  margin: 10px;
  margin-left: 30px;
}


/* HOME */

.home-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* cambiar por mediaquery */
}


.jobseeker-container, .employee-container {
  margin: 120px auto;
  padding: 20px;
  width: 400px;
  img {
    width: 100px;
    margin: auto;
    display: block;
  }
  p {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
  }
  button {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 8px;
    margin-top: 10px;
    margin-left: 130px;
    width: 140px;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.50);
    box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.50);
    &:hover {
      color: #00FE7F;
      border-bottom: 1px solid #00FE7F;
      transition-duration: 0.3s;
    }
  }
}
