/* COMMON */
/* COLORS */
/* BOX SHADOW */
/* MAIN/BASE THINGS */
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f3f3f3;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

body a {
  color: #3282b8;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

body a:hover {
  color: #52bff2;
}

body li {
  list-style-type: none;
  font-size: 16px;
  padding: 10px;
}

body p {
  font-size: 16px;
}

html, body, #app, #app > div {
  height: 100%;
}

.main {
  position: relative;
  min-height: 100vh;
}

/* ???? */
@-webkit-keyframes bouncing-loader {
  to {
    opacity: 0.1;
    -webkit-transform: translate3d(0, -1rem, 0);
            transform: translate3d(0, -1rem, 0);
  }
}
@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    -webkit-transform: translate3d(0, -1rem, 0);
            transform: translate3d(0, -1rem, 0);
  }
}

.loader .bouncing-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader .bouncing-loader > div {
  width: 1rem;
  height: 1rem;
  margin: 3rem 0.2rem;
  background: #8385aa;
  border-radius: 50%;
  -webkit-animation: bouncing-loader 0.6s infinite alternate;
          animation: bouncing-loader 0.6s infinite alternate;
}

.loader .bouncing-loader > div:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader .bouncing-loader > div:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

/* PAGES */
.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* cambiar por mediaquery */
  background-image: url("https://images.unsplash.com/photo-1435575653489-b0873ec954e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  /* JOBSEEKER AND EMPLOYEE COMPONENTS */
}

.home-container button {
  background-color: #bee5ff;
  color: #000;
  border-radius: 1px;
  border: 1px solid #3282b8;
  padding: 8px;
  margin-top: 40px;
  margin-left: 50px;
  width: 70%;
  font-size: 16px;
  cursor: pointer;
}

.home-container button:hover {
  -webkit-box-shadow: inset 0px 0px 0px 1px #3282b8;
  box-shadow: inset 0px 0px 0px 1px #51a2d8;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.home-container .jobseeker-container, .home-container .employee-container {
  margin: 80px auto;
  padding: 30px;
  width: 360px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  border: 1px solid lightgray;
}

.home-container .jobseeker-container img, .home-container .employee-container img {
  width: 100px;
  margin: 20px auto;
  display: block;
}

.home-container .jobseeker-container p, .home-container .employee-container p {
  margin-top: 35px;
  font-size: 16px;
  text-align: center;
}

.home-container .jobseeker-container .jobseeker-select, .home-container .employee-container .jobseeker-select {
  position: relative;
  margin: auto;
}

.home-container .jobseeker-container .jobseeker-select select, .home-container .employee-container .jobseeker-select select {
  background-color: #fff;
  width: 250px;
  padding: 5px;
  margin-left: 50px;
  margin-top: 20px;
}

.home-container .jobseeker-container .jobseeker-select select option, .home-container .employee-container .jobseeker-select select option {
  padding: 8px;
  border: 1px solid #3282b8;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* HOW IT WORKS */
.how-it-works-section {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin: auto;
  padding-bottom: 60px;
}

.how-it-works-section .how-it-works-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.how-it-works-section .how-it-works-icons img {
  max-width: 50px;
}

.how-it-works-section .how-it-works-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.how-it-works-section .how-it-works-text p {
  font-size: 16px;
  padding: 10px;
}

.form-box {
  border-radius: 5px;
  padding: 20px;
  margin-top: 100px;
}

.form-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border: 1px solid lightgray;
  -webkit-box-shadow: -1px 4px 6px -2px rgba(181, 181, 181, 0.79);
  box-shadow: -1px 4px 6px -2px rgba(181, 181, 181, 0.79);
  border-radius: 5px;
  width: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  margin: auto;
}

.form-box form h3 {
  margin: 20px 15px 30px 20px;
  font-weight: 400;
  text-align: center;
}

.form-box form label {
  font-size: 14px;
  padding: 5px;
}

.form-box form input {
  margin-left: 45px;
  padding: 15px;
  border-radius: 2px;
  border: 1px solid lightgray;
  outline: none;
  width: 320px;
}

.form-box form input:focus {
  border: 1px solid #bbe1fa;
}

.form-box form #notonthelist {
  font-size: 14px;
  margin-top: 100px;
  margin-bottom: -20px;
  margin-left: 45px;
}

.form-box form .privacy-check {
  margin-left: 40px;
}

.form-box form .privacy-check #check-privacy {
  width: 20px;
  margin: 30px auto;
  cursor: pointer;
}

.form-box form #signup-btn {
  background-color: #3282b8;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}

.form-box form #signup-btn:hover {
  background-color: #51a2d8;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.form-box form .company-results li {
  font-size: 16px;
  margin-top: 10px;
  margin-left: 45px;
  padding: 10px;
  cursor: pointer;
  width: 300px;
}

.form-box form .company-results li:hover {
  background-color: #bbe1fa;
}

/* MAIN CONTAINER */
.listing-banner {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.listing-banner #listing-search {
  /* move to right and move logo to left when scrolling */
  width: 100%;
  height: 55px;
  padding: 20px;
  border-radius: 2px;
  border: 1px solid #000;
  outline: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: #1d1c1c;
  padding-left: 445px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.listing-banner select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #000;
  border: 1px solid #000;
  color: #bbe1fa;
  border-bottom: 1px solid #bbe1fa;
}

.listing-banner select option {
  /* not working */
  border: 1px solid #000;
  border-left: 1px solid #bbe1fa;
  padding: 20px;
  color: #bbe1fa;
  background-color: #000;
}

.listing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* SIDEBAR */
.listing-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px 40px;
  width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 2px;
}

.listing-sidebar h4 {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 15px;
}

.listing-sidebar p {
  font-size: 16px;
}

.listing-sidebar select {
  padding: 8px;
  width: 300px;
  background-color: #fff;
  border: 1px solid #fff;
  font-size: 14px;
  cursor: pointer;
}

.listing-sidebar button {
  /* make it sticky */
  background-color: #000;
  color: #fff;
  padding: 7px;
  margin: 15px 0px;
  border: 1px solid black;
  font-size: 18px;
  width: 180px;
  cursor: pointer;
}

/* RESULTS BOX */
.listing-results {
  border: 1px solid lightgray;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  font-size: 16px;
  border-radius: 2px;
}

.listing-results li {
  list-style: none;
  padding: 10px;
}

.listing-results .company-result-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.listing-results .company-result-single {
  margin-top: 20px;
  width: 90%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #fff;
  cursor: pointer;
}

.listing-results .company-result-single:hover {
  border: 1px solid lightgray;
}

.listing-results .company-result-single .company-photo img {
  /* change to background img of div */
  width: 75px;
  margin-top: 20px;
  height: auto;
}

.listing-results .company-result-single .company-info {
  padding-left: 30px;
}

.listing-results .company-result-single .company-info p {
  font-size: 16px;
}

.create-company-form {
  width: 90%;
  height: 90%;
  padding: 30px;
  margin: auto;
  background-color: #fff;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px px;
          box-shadow: inset 0px 1px 1px white, 0px 1px px;
}

.create-company-form h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.create-company-form .text-above {
  text-align: center;
  font-size: 16px;
  margin-bottom: 50px;
  line-height: 18px;
}

.create-company-form img {
  width: 100px;
  height: 100px;
}

.create-company-form .create-form {
  padding: 30px 50px;
  border: 1px solid lightgray;
  width: 70%;
  margin: auto;
}

.create-company-form .create-form hr {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(131, 131, 131, 0)), color-stop(rgba(141, 141, 141, 0.75)), to(rgba(110, 110, 110, 0)));
  background-image: linear-gradient(to right, rgba(131, 131, 131, 0), rgba(141, 141, 141, 0.75), rgba(110, 110, 110, 0));
}

.create-company-form .create-form .information-selects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 40px;
  margin: 10px;
}

.create-company-form .create-form select {
  background-color: #fff;
  padding: 8px;
  display: block;
  width: 320px;
  outline: none;
  border: 1px solid #bbe1fa;
  margin-top: 30px;
  margin-bottom: 20px;
  overflow: auto;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  /*background-image: url(...);  */
}

.create-company-form .create-form select option {
  opacity: 0.5;
  cursor: pointer;
}

.create-company-form .create-form select option:hover {
  background-color: #bbe1fa;
}

.create-company-form .create-form .company-feedback {
  padding: 10px 40px;
}

.create-company-form .create-form .perks-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.create-company-form .create-form .perks-flex p {
  display: inline-block;
  margin-left: 5px;
}

.create-company-form .create-form .perks-flex .perks-check {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #fff;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px px;
          box-shadow: inset 0px 1px 1px white, 0px 1px px;
  opacity: 0.5;
}

.create-company-form .create-form .perks-flex .perks-check:checked {
  opacity: 1;
}

.create-company-form .create-form .comments-area {
  margin-top: 50px;
  border: 1px solid lightgray;
  background-color: #f3f3f3;
  padding: 30px;
}

.create-company-form .create-form .comments-area textarea {
  border: 1px solid lightgray;
}

.create-company-form .create-form .comments-area .submit-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  margin-left: 320px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.create-company-form .create-form .comments-area .submit-btns #create-btn {
  width: 30px;
  margin-left: 30px;
  background-color: #fff;
  border: 1px solid #adebad;
  font-size: 16px;
  cursor: pointer;
}

.create-company-form .create-form .comments-area .submit-btns button {
  width: 30px;
  margin-left: 30px;
  background-color: #fff;
  border: 1px solid #ff7979;
  font-size: 16px;
  cursor: pointer;
}

/* COMPONENTS */
header {
  width: 100%;
  top: 0;
  background-color: #000;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo {
  padding: 5px 50px;
  display: inline-block;
  width: 150px;
}

header .right-navigation {
  margin-left: auto;
  padding: 15px 50px;
}

header .right-navigation a {
  padding: 10px;
  margin-right: 30px;
  font-size: 16px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
}

footer p {
  color: lightgray;
  font-size: 14px;
}

.comments-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 900px;
  height: 120px;
  margin: 50px;
}

.comments-container .comment-avatar {
  background-image: url("https://image.flaticon.com/icons/svg/1077/1077012.svg");
  background-repeat: no-repeat;
  background-position: top;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.comments-container textarea {
  padding: 25px;
  font-size: 16px;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  font-family: 'Lato', sans-serif;
}

.company-details-container {
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
  padding: 30px;
  background-color: #fff;
}

.company-details-container h2 {
  text-align: center;
}

.company-details-container .company-header {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -webkit-box-shadow: -5px 5px 5px -6px #292929;
          box-shadow: -5px 5px 5px -6px #292929;
}

.company-details-container .company-header img {
  width: 120px;
  height: 120px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.company-details-container .company-header .company-description {
  width: 600px;
  height: 100%;
  padding: 20px;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.company-details-container .company-feedback {
  margin-top: 20px auto;
  -webkit-box-shadow: -5px 5px 5px -6px #292929;
          box-shadow: -5px 5px 5px -6px #292929;
}

.company-details-container .company-feedback .information-selects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
}

.company-details-container .company-feedback label {
  font-size: 16px;
  padding: 10px;
}

.company-details-container .company-feedback select {
  padding: 5px;
  width: 250px;
  background-color: #fff;
  outline: none;
}

.company-details-container .company-feedback .perks-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.company-details-container .company-feedback .perks-flex p {
  display: inline-block;
  padding-left: 5px;
}

.company-details-container .company-feedback .perks-flex .perks-check {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: #fcfff4;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px px;
          box-shadow: inset 0px 1px 1px white, 0px 1px px;
  opacity: 0.5;
}

.company-details-container .company-feedback .perks-flex .perks-check:checked {
  opacity: 1;
}
/*# sourceMappingURL=index.css.map */